<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BRACUB Box Score</title>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/highcharts.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/highcharts.js}"></script>
    <script th:src="@{/js/exporting.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="wrapper">
    <h2>BRACU Basketball Team Box Score</h2>
    <div id="barChartContainer"></div>
</div>
</body>
</html>